@font-face {
  font-family: "Impact LT Std";
  src: url("//db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot");
  src: url("//db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot?#iefix") format("embedded-opentype"),url("//db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff2") format("woff2"),url("//db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff") format("woff"),url("//db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.ttf") format("truetype"),url("//db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.svg#Impact LT Std") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Berlin Sans FB Demi";
  src: url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.eot");
  src: url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.eot?#iefix") format("embedded-opentype"),url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.woff2") format("woff2"),url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.woff") format("woff"),url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.ttf") format("truetype"),url("//db.onlinewebfonts.com/t/b6539b6d3432c623d8d4f9cc2a29589e.svg#Berlin Sans FB Demi") format("svg");
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro",sans-serif;
  line-height: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.profit {
  padding-top: 50px;
  background: #eeeef1;
  overflow: hidden;
}

.profit__wrapper {
  position: relative;
  height: 809px;
}

.profit__cloud {
  position: absolute;
}

.profit__cloud_3 {
  top: 50px;
  right: -150px;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in,-webkit-transform 1s ease-in;
}

@supports ((-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) or (clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px))) or (-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) {
  .profit__cloud_3 {
    top: 300px;
  }
}

.profit__cloud_2 {
  top: 430px;
  left: 0;
  -webkit-transition: -webkit-transform 1.5s ease-in;
  transition: transform 1.5s ease-in;
  transition: transform 1.5s ease-in,-webkit-transform 1.5s ease-in;
}

@media (max-width:990px) {
  .profit__cloud_2 {
    left: -100px;
  }
}

@media (max-width:768px) {
  .profit__cloud_2 {
    display: none;
  }
}

.profit__cloud_1 {
  top: 535px;
  left: 265px;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in,-webkit-transform 1s ease-in;
}

@media (max-width:1200px) {
  .profit__cloud_1 {
    left: 100px;
  }
}

@media (max-width:990px) {
  .profit__cloud_1 {
    left: 0;
  }
}

@media (max-width:768px) {
  .profit__cloud_1 {
    display: none;
  }
}

.profit__mountain-top {
  position: absolute;
  left: 295px;
  top: 156px;
  z-index: 1;
}

.profit__bg-bottom {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -170px;
  -webkit-clip-path: polygon(0 0,50% 0,65% 20%,75% 25%,80% 20%,100% 5%,100% 100%,0 100%,0 0);
  clip-path: polygon(0 0,50% 0,65% 20%,75% 25%,80% 20%,100% 5%,100% 100%,0 100%,0 0);
}

@supports ((-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) or (clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px))) or (-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) {
  .profit__bg-bottom {
    margin-top: -205px;
  }
}

@media (max-width:1200px) {
  .profit__bg-bottom {
    margin-top: -150px;
  }
}

@media (max-width:768px) {
  .profit__bg-bottom {
    margin-top: -130px;
    -webkit-clip-path: none;
    clip-path: none;
  }
}

.profit__bg_footer {
  position: relative;
  background: #eeeef1;
}

.profit__bg_clouds {
  position: absolute;
  top: 120px;
}

.profit__bg_forest,
.profit__profits {
  position: absolute;
  top: 10px;
}

.profit__profits {
  top: 130px;
  right: -160px;
  width: 818px;
}

@media (max-width:460px) {
  .profit__profits {
    right: -260px;
  }
}

.profit__additional {
  display: none;
  background: #462b6e;
}

.profit__items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@supports ((-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) or (clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px))) or (-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) {
  .profit__items {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-transform: none;
    transform: none;
    -webkit-clip-path: polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px);
    clip-path: polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px);
  }
}

.profit__items_top {
  position: absolute;
  top: 50px;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateX(-80%);
  transform: translateX(-80%);
}

@supports ((-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) or (clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px))) or (-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) {
  .profit__items_top {
    position: relative;
    top: initial;
    left: initial;
    height: 209px;
    padding-right: 30px;
    background: #eeeef1;
    border-bottom: 1px solid #000;
    -webkit-transform: none;
    transform: none;
    -webkit-clip-path: polygon(320px 195px,381px 181px,440px 205px,484px 166px,469px 147px,426px 93px,383px 43px,360px 76px,328px 119px,297px 163px);
    clip-path: polygon(320px 195px,381px 181px,440px 205px,484px 166px,469px 147px,426px 93px,383px 43px,360px 76px,328px 119px,297px 163px);
    z-index: 1;
  }

  .profit__items_top:hover {
    background-color: #fff;
  }
}

.profit__items_top .profit__item {
  margin-top: 30px;
  border-bottom: none;
}

.profit__items_bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 160px;
}

.profit__items_bottom .profit__item {
  position: relative;
}

.profit__items_bottom .profit__item:not(:last-child):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #462b6e;
}

.profit__items_bottom .profit__item[data-idx="1"]:after {
  left: 50px;
  right: 35px;
}

.profit__items_bottom .profit__item[data-idx="2"]:after {
  left: 40px;
  right: 10px;
}

.profit__items_bottom .profit__item[data-idx="3"]:after {
  left: 20px;
  right: -10px;
}

.profit__items_bottom .profit__item[data-idx="4"]:after {
  left: -5px;
  right: -40px;
}

.profit__items_bottom .profit__item[data-idx="5"]:after {
  left: -25px;
  right: -65px;
}

.profit__items_bottom .profit__item[data-idx="6"]:after {
  left: -40px;
  right: -90px;
}

.profit__items_bottom .profit__item[data-idx="7"]:after {
  left: -70px;
  right: -110px;
}

@supports ((-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) or (clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px))) or (-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) {
  .profit__items_bottom {
    margin-top: -50px;
  }

  .profit__items_bottom .profit__item:after {
    display: none;
  }
}

.profit__items_bottom .profit__item:last-child {
  padding-bottom: 150px;
  border-bottom: none;
}

.profit__pointer {
  position: absolute;
  top: 50%;
  left: -15px;
  opacity: 0;
  width: 6px;
  height: 6px;
  background-color: #ff5252;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profit__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -30px;
  padding: 10px 0;
}

@supports ((-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) or (clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px))) or (-webkit-clip-path:polygon(83px 663px,165px 670px,215px 674px,438px 678px,643px 677px,813px 674px,755px 531px,663px 446px,604px 361px,571px 317px,529px 231px,481px 160px,428px 96px,384px 42px,325px 122px,280px 190px,252px 314px,219px 364px,209px 386px,169px 464px,110px 528px,51px 598px,7px 651px)) {
  .profit__item {
    background-color: #eeeef1;
    border-bottom: 1px solid #462b6e;
  }

  .profit__item:hover {
    background-color: #fff;
  }
}

@media (max-width:460px) {
  .profit__item {
    font-size: 14px;
  }
}

.profit__item:first-child {
  padding-top: 60px;
}

.profit__item:hover {
  cursor: pointer;
}

@media (min-width:769px) {
  .profit__item:hover .profit__pointer {
    opacity: 1;
  }
}

.profit__item:hover .profit__name:before {
  background-color: #ff5252;
}

.profit__item:hover .profit__name:after {
  left: 10px;
  border-color: #fff;
  -webkit-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
}

.profit__name {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}

.profit__name:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ff5252;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profit__name:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #ff5252;
  border-top: 1px solid #ff5252;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

.profit__info-wrapper {
  position: absolute;
  top: 15vh;
  right: 600px;
  display: none;
  max-width: 450px;
  padding-bottom: 100px;
  color: #eeeef1;
  font-family: "muller_regularregular";
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  z-index: 2;
}

@media (max-width:1200px) {
  .profit__info-wrapper {
    right: 500px;
  }
}

@media (max-width:990px) {
  .profit__info-wrapper {
    right: 400px;
    width: 400px;
  }
}

@media (max-width:768px) {
  .profit__info-wrapper {
    top: initial;
    right: initial;
    left: 50%;
    padding-bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (max-width:460px) {
  .profit__info-wrapper {
    width: 100%;
  }
}

.profit__info-wrapper_visible {
  display: block;
}

.profit__info-wrapper:after {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  bottom: 0;
  width: 2px;
  height: 100px;
  background-color: #ff5252;
}

@media (max-width:768px) {
  .profit__info-wrapper:after {
    display: none;
  }
}

.profit__info {
  position: relative;
  display: none;
  padding: 25px 25px 50px;
  background: #ff5252;
  border-radius: 6px;
}

.profit__info_visible {
  display: block;
}

@media (max-width:768px) {
  .profit__info_visible:before {
    content: "";
    position: absolute;
    left: calc(50% - 5px);
    bottom: -5px;
    width: 10px;
    height: 10px;
    background-color: #ff5252;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .profit .profit__info[data-idx="1"]:before,
  .profit__info[data-idx="0"]:before {
    top: -5px;
    bottom: initial;
  }
}

.profit__line {
  stroke-width: 2;
}

.profit__connector {
  position: absolute;
  bottom: 0;
  left: calc(50% - 1px);
  width: 100px;
  height: 2px;
  background-color: #ff5252;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

@media (max-width:768px) {
  .profit__connector {
    display: none;
  }
}