/* Цвета */
/* Текст */
/* Брейкпоинты */
.profit {
  padding-top: 50px;
  background: #eeeef1;
  overflow: hidden;
}
.profit__wrapper {
  position: relative;
  height: 809px;
}
.profit__cloud {
  position: absolute;
}
.profit__cloud_3 {
  top: 300px;
  right: -150px;
  transition: transform 1s ease-in;
}
.profit__cloud_2 {
  top: 430px;
  left: 0;
  transition: transform 1.5s ease-in;
}
@media (max-width: 990px) {
  .profit__cloud_2 {
    left: -100px;
  }
}
@media (max-width: 768px) {
  .profit__cloud_2 {
    display: none;
  }
}
.profit__cloud_1 {
  top: 535px;
  left: 265px;
  transition: transform 1s ease-in;
}
@media (max-width: 1200px) {
  .profit__cloud_1 {
    left: 100px;
  }
}
@media (max-width: 990px) {
  .profit__cloud_1 {
    left: 0;
  }
}
@media (max-width: 768px) {
  .profit__cloud_1 {
    display: none;
  }
}
.profit__mountain-top {
  position: absolute;
  left: 295px;
  top: 156px;
  z-index: 1;
}
.profit__bg-bottom {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -205px;
  clip-path: polygon(0 0, 50% 0, 65% 20%, 75% 25%, 80% 20%, 100% 5%, 100% 100%, 0 100%, 0 0);
}
@media (max-width: 1200px) {
  .profit__bg-bottom {
    margin-top: -150px;
  }
}
@media (max-width: 768px) {
  .profit__bg-bottom {
    margin-top: -130px;
    clip-path: none;
  }
}
.profit__bg_footer {
  position: relative;
  background: #EEEEF1;
}
.profit__bg_clouds {
  position: absolute;
  top: 120px;
}
.profit__bg_forest {
  position: absolute;
  top: 10px;
}
.profit__profits {
  position: absolute;
  top: 130px;
  right: -160px;
  width: 818px;
}
@media (max-width: 460px) {
  .profit__profits {
    right: -260px;
  }
}
.profit__additional {
  display: none;
  background: #462B6E;
}
.profit__items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  clip-path: polygon(83px 663px, 165px 670px, 215px 674px, 438px 678px, 643px 677px, 813px 674px, 755px 531px, 663px 446px, 604px 361px, 571px 317px, 529px 231px, 481px 160px, 428px 96px, 384px 42px, 325px 122px, 280px 190px, 252px 314px, 219px 364px, 209px 386px, 169px 464px, 110px 528px, 51px 598px, 7px 651px);
}
.profit__items_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 210px;
  padding-right: 30px;
  clip-path: polygon(320px 195px, 381px 181px, 440px 205px, 484px 166px, 469px 147px, 426px 93px, 383px 43px, 360px 76px, 328px 119px, 297px 163px);
  background: #EEEEF1;
  border-bottom: 1px solid #000;
}
.profit__items_top .profit__item {
  margin-top: 30px;
  border-bottom: none;
}
.profit__items_top:hover {
  background-color: white;
}
.profit__items_bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -50px;
}
.profit__items_bottom .profit__item:last-child {
  padding-bottom: 150px;
  border-bottom: none;
}
.profit__pointer {
  position: absolute;
  top: 50%;
  left: -15px;
  opacity: 0;
  width: 6px;
  height: 6px;
  background-color: #ff5252;
  border-radius: 50%;
  transform: translateY(-50%);
}
.profit__item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  padding: 10px 0;
  background-color: #EEEEF1;
  border-bottom: 1px solid #462B6E;
}
@media (max-width: 460px) {
  .profit__item {
    font-size: 14px;
  }
}
.profit__item:first-child {
  padding-top: 60px;
}
.profit__item:hover {
  background-color: white;
  cursor: pointer;
}
@media (min-width: 769px) {
  .profit__item:hover .profit__pointer {
    opacity: 1;
  }
}
.profit__item:hover .profit__name:before {
  background-color: #ff5252;
}
.profit__item:hover .profit__name:after {
  left: 10px;
  border-color: #fff;
  transform: translateY(-50%) rotate(-135deg);
}
.profit__name {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}
.profit__name:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ff5252;
  border-radius: 100%;
  transform: translateY(-50%);
}
.profit__name:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #ff5252;
  border-top: 1px solid #ff5252;
  transform: rotate(45deg) translateY(-50%);
}
.profit__info-wrapper {
  position: absolute;
  top: 15vh;
  right: 600px;
  display: none;
  max-width: 450px;
  padding-bottom: 100px;
  color: #eeeef1;
  font-family: "muller_regularregular";
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  z-index: 2;
}
@media (max-width: 1200px) {
  .profit__info-wrapper {
    right: 500px;
  }
}
@media (max-width: 990px) {
  .profit__info-wrapper {
    right: 400px;
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .profit__info-wrapper {
    top: initial;
    right: initial;
    left: 50%;
    padding-bottom: 0;
    transform: translateX(-50%);
  }
}
@media (max-width: 460px) {
  .profit__info-wrapper {
    width: 100%;
  }
}
.profit__info-wrapper_visible {
  display: block;
}
.profit__info-wrapper:after {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  bottom: 0;
  width: 2px;
  height: 100px;
  background-color: #ff5252;
}
@media (max-width: 768px) {
  .profit__info-wrapper:after {
    display: none;
  }
}
.profit__info {
  position: relative;
  display: none;
  padding: 25px 25px 50px 25px;
  background: #ff5252;
  border-radius: 6px;
}
.profit__info_visible {
  display: block;
}
@media (max-width: 768px) {
  .profit__info_visible:before {
    content: "";
    position: absolute;
    left: calc(50% - 5px);
    bottom: -5px;
    width: 10px;
    height: 10px;
    background-color: #ff5252;
    transform: rotate(45deg);
  }
}
@media (max-width: 768px) {
  .profit__info[data-idx="0"]:before,
  .profit .profit__info[data-idx="1"]:before {
    top: -5px;
    bottom: initial;
  }
}
.profit__line {
  stroke-width: 2;
}
.profit__connector {
  position: absolute;
  bottom: 0;
  left: calc(50% - 1px);
  width: 100px;
  height: 2px;
  background-color: #ff5252;
  transform-origin: 0 100%;
}
@media (max-width: 768px) {
  .profit__connector {
    display: none;
  }
}
